body {
  margin: 0;
  padding: 0;
  text-align: center;
  background: url(userinfo.jpg);
  background-size: cover;
  background-attachment: fixed;
  font-family: sans-serif;
}

form {
  margin-top: 50px;
  transition: all 4s ease-in-out;
}

.header {
  margin-top: 100px;
  color: #050f63;
  transition: all 4s ease-in-out;
}

.header h1 {
  font-size: 40px;
  line-height: 10px;
  text-shadow: 1px 2px 3px #000000;
  letter-spacing: 1px;
}

.form-control {
  width: 600px;
  background: white;
  border: none;
  outline: none;
  border-bottom: 1px solid gray;
  font-size: 18px;
  margin-bottom: 16px;
  box-shadow: 3px 7px 10px #393945;
}

input {
  height: 45px;
}

form .submit {
  background: #050f63;
  border-color: transparent;
  color: #fff;
  font-size: 20px;
  letter-spacing: 2px;
  height: 50px;
  margin-top: 20px;
  transition-duration: 0.7s;
  box-shadow: 3px 7px 10px #393945;
}

.submit:hover {
  background-color: #73f589;
  color: white;
}

state {
  margin-top: 50px;
  transition: all 4s ease-in-out;
}

.state-control {
  width: 602px;
  height: 48px;
  background: white;
  color: #7e7976;
  border: none;
  outline: none;
  border-bottom: 1px solid gray;
  font-size: 18px;
  margin-bottom: 17px;
  box-shadow: 3px 7px 10px #393945;
}

p {
  border-color: transparent;
  font-size: 30px;
  letter-spacing: 2px;
  height: 50px;
  margin-top: 20px;
}

.btn {
  padding: 10px;
  font-size: 20px;
  background: #050f63;
  color: white;
  border: #fff;
  border-radius: 5px;
}
.ins_btn {
  padding: 10px;
  font-size: 25px;
  color: white;
  background: #02146b;
  border: none;
  border-radius: 5px;
}
.rep_btn {
  padding: 10px;
  font-size: 15px;
  color: white;
  background: #050f63;
  border: none;
  border-radius: 5px;
}
